
@import "/node_modules/bootstrap/scss/functions";
@import "/node_modules/bootstrap/scss/variables";
@import "/node_modules/bootstrap/scss/mixins";

.content-card {
	&:hover {
		box-shadow: 0 1.5rem 5rem rgba($black, .175) !important; /* Fight BS's shadow-lg !important */
	}	
}

.commission-style {
	&:hover {
		box-shadow: 0 1.5rem 5rem rgba($black, .175) !important; /* Fight BS's shadow-lg !important */
	}

	overflow: hidden;
	border-radius: 8px;
	height: content;

	.card {
		border: 0px;
	}

	.commission-style-banner {
		height: 320px;		

		border-radius: 0px;

		img {
			object-fit: cover;
			/* object-position: center; */
			height: inherit;
		}
	}

	.card-text {
		width: 66%;
	}


	@include media-breakpoint-down(sm) {
		.commission-style-banner {
			height:  500px;
		}

		.card-text {
			/*width: 100%;*/
		}

		img {
			object-position: top 0px right -260px;
		}
	}

}


.wide-card-container {
	border-radius: 8px;
	object-fit: cover;
	height: content;

	.wide-card {
		border-radius: 0px;

		.card-img-overlay {
			padding: 2rem;
		}
	}
}


.wide-title {
	padding: 2rem;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;

	/* background-image: linear-gradient(180deg, rgba(0, 0, 0, .7), rgba(0, 0, 0, .8));*/
	background-color: #333;
	color: white;
}


.card-img.left-side {
	/* the 4rem accounts for padding. I'll use scss variables later */
	width: 50%
}

.card-img.right-side {
	width: 50%;
	position: absolute;
	right: 0px;
}

.card-text.bottom {
	position: absolute;
	bottom: 2rem;
}

.card-text.bottom-left {
	position: absolute;
	bottom: 2rem;
	width: calc(50% - 4rem);
}

.card-text.bottom-right {
	position: absolute;
	bottom: 2rem;
	left: calc(50% + 2rem);
	width: calc(50% - 4rem);
}

.spanning-header {
	.left-hedder {
		width: 50%;
	}

	.right-header {
		position: absolute;
		left: calc(50% + 2rem);
		width: 50%;
	}
}

.commission-me {
	&:hover {
		box-shadow: 0 1.8rem 6rem rgba($black, .175) !important; /* Fight BS's shadow-lg !important */
	}

	h1 {
		font-size:  3.8rem;
		padding-top:  2.4rem;
		padding-bottom: 2.4rem;
	}
}
