<h1> THIS PAGE AND WEBSITE IS A WORK IN PROGRESS! </h1>

<!-- TODO: Determine if user's currency conversion can be even done and don't show this message. Currently worried about API key usage -->
<!--  being inadvertedly doubled. -->
<p> Note: automatic price conversion is an approximation and may detect your preferred currency incorrectly. </p>



<!-- Traditional -->
<div class="commission-style">
	<div class="card text-bg-dark commission-style-banner pop-text">
		<img class="card-img img-fluid top bump-left-on-small" src="/assets/bannerTraditional.png">

		<div class="card-img-overlay header-gradient p-5">
			<h1 class="card-title">Base Prices - Traditional</h1>
			<p class="card-text smush-left pop-text-strong">Below are the various styles I do commissions in. Prices reflect simple backgrounds with profile framing (see below). Final drawing will be carefully photographed, cropped, and emailed on completion.</p>
		</div>
	</div>


	<div class="card-group">
		<ng-container *ngFor="let tradStyle of TRADITIONAL_STYLES">
			<app-style-commission-info [style-info]="tradStyle" class="card"> </app-style-commission-info>
		</ng-container>
	</div>
</div>

<hr>

<!-- Digital -->

<div class="commission-style">
	<div class="card text-bg-dark commission-style-banner pop-text">
		<img class="card-img img-fluid" src="https://cdn.discordapp.com/attachments/551518495020417045/1018545383594541179/Below_Crystal_Chasm.png">

		<div class="card-img-overlay header-gradient p-5">
			<h1 class="card-title"> Digital</h1>
			<h3 class="card-text"><b>Currently Unavailable</b></h3>
		</div>
	</div>

	<!--
	<div class="card-group">
		<ng-container *ngFor="let digiStyle of DIGITAL_STYLES">
			<app-style-commission-info [style-info]="digiStyle" class="card"> </app-style-commission-info>
		</ng-container>
	</div>
	-->
</div>

<hr>

<div class="commission-style">

	<div class="card text-bg-dark commission-style-banner pop-text" style="height: 380px">
		<img class="card-img img-fluid"	src="/assets/bannerAdditionalConsiderations.png">

		<div class="card-img-overlay header-gradient p-5">
			<h1 class="card-title">Commission Options</h1>
			<!-- <p class="card-text" style="width: 50%">Certain features cost an additional fee. Information about this is below.</p> -->
		</div>
	</div>

	<div class="wide-card-container text-bg-dark">

		<!-- Full body vs. Bust Shots -->
		<div class="wide-title pop-text"> <h1> Character Framing </h1> </div>

		<div class="card-group pop-text">
			<div class="card">
				<img class="card-img" style="height: 320px" src="/assets/additionalBust.png">
				<div class="card-img-overlay header-gradient">
					<h3 class="card-title"> Portrait</h3>
					<p class="card-text">
						Subject is framed from the shoulders and up.
					</p>
				</div>

				<div class="card-img-overlay">
					<h4 class="card-text bottom">
						FREE
					</h4>
				</div>
			</div>
			<div class="card">
				<img class="card-img left" style="height: 320px" src="/assets/additionalFullPortrait.png">
				<div class="card-img-overlay header-gradient">
					<h3 class="card-title"> Full-Body </h3>
					<p class="card-text">
						The subject is framed beyond their shoulders
					</p>

				</div>
				<div class="card-img-overlay">
					<h4 class="card-text bottom"> +$10 USD <br> (+$5 if clean sketch)
					</h4>
				</div>
			</div>
		</div>

		<!-- Backgrounds -->
		<div class="wide-title pop-text"> <h1> Background </h1> </div>

		<div class="card-group pop-text">
			<div class="card">
				<img class="card-img" style="height: 320px" src="/assets/additionalBackgroundSimple.png">
				<div class="card-img-overlay header-gradient">
					<h3 class="card-title"> Simple Background </h3>
					<p class="card-text">
						Background is at most a light pattern. 
					</p>
				</div>

				<div class="card-img-overlay">
					<h4 class="card-text bottom">
						FREE
					</h4>
				</div>
			</div>
			<div class="card">
				<img class="card-img left" style="height: 320px" src="/assets/additionalBackgroundComplex.png">
				<div class="card-img-overlay header-gradient">
					<h3 class="card-title"> Complex Background </h3>
					<p class="card-text">
						Background has recognizable features.
					</p>

				</div>
				<div class="card-img-overlay">
					<h4 class="card-text bottom"> +$20 USD <br> (+$10 if clean sketch)
					</h4>
				</div>
			</div>
		</div>		

		<!-- Multiple Characters -->
		<div class="wide-title"> <h1> Multiple characters </h1> </div>

		<div class="row g-0">
			<div class="col-md-7 col-12">
				<img class="card-img" style="height: 600px;" src="/assets/additionalMultipleCharacters.png">
			</div>
			<div class="col-md-5 col-12">
				<div class="card-text right-side-thing-rename-later">
					<h3> Regular </h3>

					<p> 
						The base price will be re-applied for each character with $10 USD taken off. Framing charges will not be applied twice;
						only the largest-framed character will be charged.
					</p>
					<br>
					<h3> PMD Discount! </h3>
					<p> If your two characters are the hero and partner of your PMD story, the second character will be <b>50% off.</b></p>					

				</div>
			</div>
		</div>
		
	</div>
</div>

<!-- Commission me! -->

<div class="commission-me card border mb-3 rounded shadow-lg mt-5 mb-5">
	<h1 class="wide-title rounded-top text-center"> <u> Commission Me! </u> </h1>
	<div class="card-text bigger-text p-3 px-5">
		<p> To request a commission, email your commission details at <a href="mailto:halifaxlarose@gmail.com?subject=I want a commission!&body=Write the details of your commission here:">halifaxlarose@gmail.com</a> or reach out to Lizard#7967 on Discord. I will list a price calculated from the information above and once all details and initial payments are settled. </p>

		<p><u> All transactions will be processed through paypal! </u></p>

		<p> Please give me as much detail about your desired commission as possible! </p>
	</div>
</div>

<hr>

<h2> Misc. </h2>

<div class="content-card card rounded border-0" style="overflow: hidden">
	<h2 class="wide-title" style="margin-bottom: 0px;"> What about emotes, character reference sheets, story covers, and profile icons? </h2>
	<p class="card-text border p-4"> 
		Emotes, character reference sheets, story covers, and profile icons will be treated as regular commissions, and will be priced accordingly.
	</p>
</div>

<br>

<div class="content-card card">
	<h2 class="card-title wide-title rounded-top mb-0 no-border"> What I will and won't draw </h2>

	<div class="row mx-0">
		<div class="col-md-4 col-12 bg-success pb-2 border-dark">
			<h4 class="mt-2 mx-3"> Will draw: </h4>
			<ul>
				<li> Humans </li>
				<li> Pokemon </li>
				<li> Anthros ("Furry") </li>
				<li> Animals </li>
				<li> Mechs </li>
				<li> Gore and Violence </li>
			</ul>

		</div>

		<div class="col-md-4 col-12 bg-danger pb-2 border-dark">
			<h4 class="mt-2 mx-3"> Will not draw: </h4>
			<ul>
				<li> Hateful and bigoted art </li>
				<li> Anything else I choose not to draw </li>
			</ul>
		</div>

		<div class="col-md-4 col-12 bg-warning pb-2 border-dark">
			<h4 class="mt-2 mx-3"> "What about x? It's not listed!" </h4>
			<ul> <li> Ask! </li> </ul>
		</div>
	</div>
</div>

<br>

<div class="content-card card rounded border-0" style="overflow: hidden;">
	<h2 class="wide-title" style="margin-bottom: 0px;"> Terms of use </h2>
	<ul class="card-text border py-3">
		<li> All commissions will be performed via paypal. </li>
		<li> I will charge 50% up front and 50% at completion. This will be changed to 100% up-front charge at a later date.</li>
		<li> At significant milestones, I will show you a work-in-progress and ask for your feedback. Changes are generally free, although I will charge a fee if I feel the original details of the commission are being changed. </li>
		<li> Unless requested otherwise, I may use you commission to promote myself on this webpage.</li>
		<li> All art will feature my signature as a watermark. This is not negotiable. </li>
		<li> I will try to complete your commission within two weeks. If I'm unable to meet that deadline due to obligations that take priority, I will reach out to you and notify you of the delay. </li>
		<li> If you share a commission publically, please credit me as "LizardLeliel!" </li>
		<li> You may use a commission to promote your story, as long as I receive proper credit. </li>
	</ul>
</div>

<!--
<div class="border mb-3 rounded-bottom">
	<h2 class="col-12 wide-title rounded-top mb-0 pb"> Terms of use </h2>
	<ul class="col-12 p-3 px-5">
		<li> All commissions will be performed via paypal. </li>
		<li> I will charge 50% up front and 50% at completion. This will be changed to 100% up-front charge at a later date.</li>
		<li> At significant milestones, I will show you a work-in-progress and ask for your feedback. Changes are generally free, although I will charge a fee if I feel the original details of the commission are being changed. </li>
		<li> Unless requested otherwise, I may use you commission to promote myself on this webpage.</li>
		<li> All art will feature my signature as a watermark. This is not negotiable. </li>
		<li> I will try to complete your commission within two weeks. If I'm unable to meet that deadline due to obligations that take priority, I will reach out to you and notify you of the delay. </li>
		<li> If you share a commission publically, please credit me as "LizardLeliel!" </li>
		<li> You may use a commission to promote your story, as long as I receive proper credit. </li>
	</ul>
</div>
-->