<h1> THIS PAGE AND WEBSITE IS A WORK IN PROGRESS! </h1>

<!-- TODO: Determine if user's currency conversion can be even done and don't show this message. Currently worried about API key usage -->
<!--  being inadvertedly doubled. -->
<p> Note: automatic price conversion is an approximation and may detect your preferred currency incorrectly. </p>

<!-- Digital -->

<div class="commission-style">
	<div class="card text-bg-dark commission-style-banner pop-text">
		<img class="card-img img-fluid" src="https://cdn.discordapp.com/attachments/551518495020417045/1018545383594541179/Below_Crystal_Chasm.png">

		<div class="card-img-overlay p-5">
			<h1 class="card-title">Digital</h1>
			<p class="card-text">Details of a Digital Commission</p>
		</div>
	</div>

	<div class="card-group">
		<app-style-commission-info [style-info]="DIGITAL_STYLES[0]" class="card"> </app-style-commission-info>
		<app-style-commission-info [style-info]="DIGITAL_STYLES[1]" class="card"> </app-style-commission-info>
		<app-style-commission-info [style-info]="DIGITAL_STYLES[2]" class="card"> </app-style-commission-info>
	</div>
</div>



<hr>

<!-- Traditional -->
<div class="commission-style">
	<div class="card text-bg-dark commission-style-banner pop-text">
		<img class="card-img img-fluid"	src="https://cdn.discordapp.com/attachments/720790291317260401/798698875049082880/20210112_194047.jpg">

		<div class="card-img-overlay p-5">
			<h1 class="card-title">Traditional</h1>
			<p class="card-text">Details of a Digital Commission</p>
		</div>
	</div>


	<div class="card-group">
		<app-style-commission-info [style-info]="TRADITIONAL_STYLES[0]" class="card"> </app-style-commission-info>
		<app-style-commission-info [style-info]="TRADITIONAL_STYLES[1]" class="card"> </app-style-commission-info>
		<app-style-commission-info [style-info]="TRADITIONAL_STYLES[2]" class="card"> </app-style-commission-info>
	</div>
</div>

<hr>

<div class="card wide-card pop-text">
	<app-wide-card-row img="https://cdn.discordapp.com/attachments/414923170538061835/1023755728109969540/A_Perfect_World_2.png">
		<h3> Complicated Backgrounds </h3>
		<p> Backgrounds with distinguishable landscape features </p>
		<p> +$15 <br> (+$10 for sketches) </p>
	</app-wide-card-row>


	<app-wide-card-row img="https://cdn.discordapp.com/attachments/720790291317260401/956380839447511040/20220321_165933.png">
		<h3> Multiple Characters </h3>
		<p class="pop-text-strong"> Each additional character will be charged full price as above. </p>
		<p class="pop-text-strong"> However, if the commission is PMD-themed and the second character is a "partner" character, there is a 50% discount for that character only. </p>
	</app-wide-card-row>
</div>