/* You can add global styles to this file, and also import other style files */

/* $primary: #0074d9; */
$danger: #e6c1c6;
$success: #abd4b3;
$warning: #f5efd5;

/* Importing Bootstrap SCSS file. */
@import 'node_modules/bootstrap/scss/bootstrap';


img.top {
	object-position: top;
}

img.left {
	object-position: left;
}

img {
	object-position: center;
}

p {
	font-size: 18px;
}

/*
.wide-card {
	position: relative;
	height: fit-content;
	color: white;

	border-radius: 8px;
	overflow: hidden;

	img {
		object-fit: cover;
		border-radius: 0px;

		height: unset;
	}
}*/

.header-gradient {
	height: fit-content;
	background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
}

.pop-text {
	text-shadow: #000 0px 0px 5px;
}

.pop-text-strong {
	text-shadow: #000 0px 0px 5px;
}

.bigger-text p {
	font-size: 1.4rem;
}